@import "~bootstrap/scss/bootstrap";


.home { 
  .image-email-enter{
    background-image: url('assets/Ventura_files/static1.squarespace.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
  }
}



.nav-home{
    background-image: url('assets/Ventura_files/static1.squarespace.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
};

.nav-home-No-Image { 
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
}




@media screen and (min-width: 1000px) {
  .nav-home{
    background-image: url('assets/Ventura_files/static1.squarespace.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
};
}




@media screen and (max-width: 767px) {
  .mobile-space {margin-top:10px;}
  }
